@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --background-dark: #202020;
    --background-semidark: #383c41;
    --backgorund-semilight: #c2c2c2;
    --backgorund-light: #fff;
    --logo--color: #1FD6FF;
    --logo--color2: #1F16FF;
}

body {
    background-color: var(--background-dark);
    color: var(--backgorund-light);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 600px;
    height: 450px;
    background-color: var(--background-semidark);
    border: 2px solid var(--logo--color);
    box-shadow: 0 0 10px var(--logo--color);
    border-radius: 15px;
    margin: auto;
    margin-top: 10%;
    display: grid;
    align-items: center;
    text-align: center;

}

h1 {
    color: var(--logo--color);
}

h2 {
    color: var(--backgorund-semilight);
}

.text {
    color: var(--backgorund-semilight);
    font-size: 20px;
    margin: 10px;
}

.text > a {
    color: var(--logo--color2);
    text-decoration: solid;
}

#downloadBtn {
    border-radius: 8px;
    padding: 1rem;
    color:#383c41;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--backgorund-semilight);
    width: 50%;
    margin: auto;
}