@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --dark-backgorund: #202020;
    --logo-backgorund: #383c41;
    --logo-color: #1FD6FF;
    --logo-dark-color: #1F16FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(var(--dark-backgorund) 50%, var(--logo-dark-color) 50%);
}

.container {
    background-color: var(--logo-backgorund);
    padding: 35px 20px 38px;
    width: 90vW;
    max-width: 515px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
}

.search-box {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 15px;
}

.search-box input {
    font-size: 15px;
    padding: 6px;
    border: solid 2px var(--logo-color);
    background: transparent;
    border-radius: 5px;
    color: white;
}

.search-box button {
    font-size: 16px;
    background-color: var(--logo-color);
    color: white;
    border: none;
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}

img {
    display:block;
    width: 35%;
    margin: 28px auto 22px;   
    border-radius: 7px;
}

.details {
    background-color: var(--logo-color);
    position: relative;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}

.details h2 {
    font-size: 17px;
    font-weight: 600;
}

.details h4 {
    font-size: 15px;
    font-weight: 400;
}

#show-recipe {
    font-size: 15px;
    position: relative;
    left: 76%;
    padding: 8px 16px;
    background-color: var(--logo-color);
    border: none;
    top: 24px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3 all ease;
}

#recipe {
    position: absolute;
    background-color: var(--logo-backgorund);
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 10px;
    display: none;
}

#recipe pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 40px 24px 24px;
    font-size: 14px;
    color: white;
}

#hide-recipe {
    font-size: 15px;
    position: relative;
    width: 28px;
    height: 28px;
    background-color: var(--logo-color);
    top: 18px;
    left: 90%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3 all ease;
}

#show-recipe:hover, #hide-recipe:hover, .search-box button:hover{
    background-color: var(--logo-dark-color);
}

ul {
    font-size: 15px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px 16px;
    padding: 16px 0 0 18px;
    color: #eee;
    text-transform: capitalize;
}

#ingre-container h3 {
    text-align: center;
    color: white;
}

@media screen and (max-width: 500px){
    .container{
        font-size: 14px;
        padding: 35px 25px 28px;
    }
    #show-recipe{
        left: 72%;
    }
}