@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --dark-backgorund: #202020;
    --logo-backgorund: #383c41;
    --logo-color: #1FD6FF;
    --logo-dark-color: #1F16FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(var(--dark-backgorund) 50%, var(--logo-dark-color) 50%);
}

.container {
    background-color: var(--logo-backgorund);
    padding: 35px 20px 38px;
    width: 90vW;
    max-width: 515px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
}

.search-box {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 15px;
}

.search-box input {
    font-size: 15px;
    padding: 6px;
    border: solid 2px var(--logo-color);
    background: transparent;
    border-radius: 5px;
    color: white;
}

.search-box button {
    font-size: 16px;
    background-color: var(--logo-color);
    color: white;
    border: none;
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}

